<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Afoxa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@RenderSection("Styles", required: false)
<body>
    @if (ViewBag.ViewHeader == true)
    {
        <header>
            <h2 class="logo"><a class="logo-link" href="/">Afoxa</a></h2>
            <div class="controls">
                <img class="avatar" src="@ViewBag.TgUser.TelegramPhotoUrl" />
                @if (@ViewBag.Role == "Teacher")
                {
                    <h6 class="username">@ViewBag.TgUser.TelegramUserName 👨‍🏫</h6>
                }
                else
                {
                    <h6 class="username">@ViewBag.TgUser.TelegramUserName 👨‍🎓</h6>
                }
                <div class="logout">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn logout-btn" title="Вихід">🚶‍♂️</button>
                    </form>
                </div>
            </div>
        </header>
    }

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
