@{
    ViewData["Title"] = ViewBag.Course.Emoji + ViewBag.Course.Name;
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("/css/details.css")">
}

<div class="menu">
    <a class="menu-item current" href="../Details/@ViewBag.Id"><span class="item-emoji course-emoji">‍@ViewBag.Course.Emoji</span> <span class="item-text">Курс</span></a>
    @if (ViewBag.Role == "Teacher")
    {
        <a class="menu-item" href="../Students/@ViewBag.Id"><span class="item-emoji">‍🎓</span> <span class="item-text">Студенти</span></a>
    }
    <a class="menu-item" href="../Materials/@ViewBag.Id">‍<span class="item-emoji">‍📚</span> <span class="item-text">Матеріали</span></a>
    <a class="menu-item" href="../Marks/@ViewBag.Id">‍<span class="item-emoji">‍✅</span> <span class="item-text">Оцінювання</span></a>
    @if (ViewBag.Role == "Teacher")
    {
        <a class="menu-item" href="../Settings/@ViewBag.Id">‍<span class="item-emoji">‍⚙️</span> <span class="item-text">Налаштування</span></a>
    }
 </div>

<div class="container content" id="@ViewBag.Id">
    <div class="row">
        <div class="col preview">
            <h1 class="emoji-header">@ViewBag.Course.Emoji</h1>
            <h3 class="header name">@ViewBag.Course.Name</h3>
            <br/>
            <h4 class="subheader">@ViewBag.TasksCount завданнь</h4>
            <h4 class="subheader">@ViewBag.LectionsCount лекцій</h4>
            <h4 class="subheader">@ViewBag.Students.Count студентів</h4>
            @if (ViewBag.Role == "Teacher")
            {
                <div class="btn-dark edit-btn" data-toggle="modal" data-target="#Modal">Редагувати</div>
            }
        </div>
        <div class="col-6">
            <h3 class="header">Про курс:</h3>
            <p class="about">
                @ViewBag.Course.About
            </p>
        </div>
        <div class="col">
            <h3 class="header">Викладачі:</h3>
            @foreach (var user in ViewBag.Teachers)
            {
                <div class="teacher">
                    <img class="avatar avatar-list" src="@user.TelegramPhotoUrl" />
                    <a class="username teacher-name" href="https://t.me/@user.TelegramUserName">@user.TelegramUserName</a>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Редагування</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="emoji-block">
                    <emoji-picker></emoji-picker>
                    <div class="emoji-example">
                        <h2 class="emoji">@ViewBag.Course.Emoji</h2>
                        <p>Емодзі-іконка допоможе орієнтуватися в курсах.</p>
                        <input type="text" class="form-control" name="Name" id="name"/>
                        <textarea class="form-control" name="About" id="about" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submit-btn">Зберегти</button>
            </div>
        </div>
    </div>
</div>
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@@^1/index.js"></script>
@section Scripts
{
    <script src="@Url.Content("/js/details.js")"></script>
}
