@{
    ViewData["Title"] = ViewBag.Course.Emoji + ViewBag.Course.Name;
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("/css/students.css")">
}

<div class="menu">
    <a class="menu-item" href="../Details/@ViewBag.Id"><span class="item-emoji course-emoji">‍@ViewBag.Course.Emoji</span> <span class="item-text">Курс</span></a>
    <a class="menu-item current" href="../Students/@ViewBag.Id"><span class="item-emoji">‍🎓</span> <span class="item-text">Студенти</span></a>
    <a class="menu-item" href="">‍<span class="item-emoji">‍📚</span> <span class="item-text">Матеріали</span></a>
    <a class="menu-item" href="">‍<span class="item-emoji">‍✅</span> <span class="item-text">Оцінювання</span></a>
    <a class="menu-item" href="">‍<span class="item-emoji">‍⚙️</span> <span class="item-text">Налаштування</span></a>
</div>

<div class="content" id="@ViewBag.Id">
    <div class="row">
        <div class="col-sm-8">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Студент</th>
                        <th scope="col">Mітки</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>
                            <td>@i</td>
                            <td>
                                <div class="table-user">
                                    <img class="table-avatar" src="@ViewBag.TgUser.TelegramPhotoUrl" />
                                    <a class="table-username" href="https://t.me/@ViewBag.TgUserTelegramUserName">@ViewBag.TgUser.TelegramUserName</a>
                                </div>
                            </td>
                            <td class="label-case">
                                <div class="min-label red"><span>×</span></div>
                                <div class="min-label orange"><span>×</span></div>
                                <div class="add-label"><span>+</span></div>
                            </td>
                            <td>
                                <button class="btn btn-outline-dark kick-btn">❌</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
            <h4 class="title">🔖 Мітки</h4>
            <p class="desc">Додайте мітки щоб простіше орієнтуватись</p>
            <div class="btn-dark">Cтворити</div>
            <div class="label red">
                <span class="label-name">Перездача</span>
                <div class="label-delete">×</div>
            </div>
            <div class="label orange">
                <span class="label-name">Участь в конференції</span>
                <div class="label-delete">×</div>
            </div>
            <br />  
        </div>
        <div class="col-sm-2">
            <h4 class="title">📢 Оголошення</h4>
            <p class="desc">
                Створіть оголошення або нагадування для ваших студентів, Воно надійде в зазначений вами час в Telegram
            </p>
            <div class="btn-dark">Cтворити</div>
            <br />
            <h4 class="title">🔑 Посилання для запрошення</h4>
            <div class="btn-dark copy">Скопіювати</div>
            <div class="btn-dark revoke">🔄 Оновити</div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("/js/students.js")"></script>
}
